@media screen and (min-width:1550px) and (max-width:1700px){
  .content .map-img{
    width: 50%;
    margin-left: -28%;
    margin-top: -1%;
  }
  .content .zuobiao{
    width: 50%;
    height: 100%;
    position: absolute;
    top: -3%;left:24%;
  }
  .tt-mr10{
    margin-right: 10px!important
  }
  .huan-font{
    font-size: 14px;
  }
  .t-screen .banner{padding-top: 73px;background: url('../../assets/img/sg/logo.png') no-repeat;background-size: 100%;}
  .common-report{
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #03579D;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 12px;
    box-shadow:0 0 10px #2b6dd6 inset;
  }
  .t-screen .time{text-align: center;color: #FFFFFF;margin-top: -20px;font-size: 20px;}
  /* 中间头部 */
  .content-head{
    display: flex;
    white-space:nowrap;
    margin-top: 10px;
    border-bottom: 1px solid #0BA9D8;
  }
  .show-yj{
    max-height: 35px;
    overflow: hidden;
    /* list-style:disc!important; */
  }
  .content-head .show-yj li{
    float:left;
    width:33%;
    /* list-style:disc!important; */
    color: #90FFFF;
    font-size: 14px;
    padding: 0px 0px 4px 0px;
  }
  .tt-pad{
    padding: 0 3px;
  }
  .center-map .t-yjts{
    /* width: 80% */
  }
    /* 两边格子 */
    .tabLeft{
      text-align: center;
    }
    .tabRight{
      text-align: center;
    }
    .tabTitle{
      color: #fff;
      font-size: 12px;
    }
    .tabContent{
      width: 100%;
      max-height: 100px;
      overflow: hidden;
    }
    .tabC-li{
      height: 25px;
      line-height: 25px;
      padding: 0 10px;
    }
    .color-dan{
      background-color: #2255B0;
    }
    .color-shu{
      background-color: #23315E;
    }
    .tabC-sl{
      color: #fff;
      font-size: 12px;
      float: left;
    }
    .tabC-sr{
      color: #fff;
      font-size: 12px;
      float: right;
    }
    .zdgj{
      padding: 20px 20px 0px;
    }
    .anim{
      transition: all 1s linear;
      margin-top: -25px;
     }
     /* .tu1{height:296px}
     .tu1-1{height: 280px}
     .tu2{height:296px}
     .tu3{height:255px}
     .tu4{height:296px}
     .tu4-4{height:280px}
     .tu5{height:296px}
     .tu5-5{height:280px}
     .tu6{height:255px}
     .tu6-6{height:250px} */
     /* 中间地图 */
     /* .content .map{
       background: url('../../assets/img/sg/map2.png') no-repeat;
       height: 685px;
       background-size: 50% 100%;
       background-position: center;
       position: relative;
     }
     .content .zuobiao{
       width: 377px;
       height: 685px;
       position: absolute;
       top: -2%;left:24%;
     } */
     .tooltipm{
       width: 100px;
       position: absolute;
       border: 1px solid #03579D;
       padding: 5px;
       box-sizing: border-box;
       border-radius: 5px;
       height: 76px;
       background-color: rgba(9,41,95,0.8);
       box-shadow: -4px -4px 10px #06B4FB;
     }
     .liuhe{
       top: -1%;
       right: 38%;
     }
     .jiangbei{
       top:14%;
       right: 48%;
     }
     .qixia{
       top: 16.5%;
       right: 42.5%;
     }
     .xuanwu{
       top: 19.5%;
       right: 38%;
     }
     .gulou{
       top: 23%;
       right: 44%;
     }
     .qinhuai{
       top:26%;
       right: 40%;
     }
     .jianye{
       top:29%;
       right: 46%;
     }
     .yuhua{
       top: 35%;
       right: 50.5%;
     }
     .pukou{
       top: 27%;
       left: 28%;
     }
     .lishui{
       top: 57%;
       right:27%;
     }
     .jiangning{
       top: 40%;
       right:42%;
     }
     .gaochun{
       top: 75%;
       right:34%;
     }
     .map .lzrq{
       text-align: left;
       width: 30%;
       display: inline-block;
       float: left;
     }
     .fun-choose{
       width: 100%;
       height: 30px;
       border: 1px solid #02C8E8;
       /* border-bottom: none!important; */
       border-radius: 5px;
       margin-bottom: 10px
     }
     .fun-choose .tab-fun{
       font-size: 12px;
       color: #02C8E8;
       width: 48%;
       height: 30px;
       line-height: 30px;
       text-align: center;
       display: inline-block;
       box-sizing: border-box;
     }
     .fun-choose .tab-fun:hover{
       /* font-size: 12px; */
       color: #fff;
       /* width: 48%;
       height: 30px;
       line-height: 30px;
       text-align: center;
       display: inline-block;
       box-sizing: border-box; */
     }
     .choose{display: flex;justify-content: space-between;}
     .choose .el-select{width: 31%}
     .choose .el-input__inner{
       background-color: rgba(9,162,201, 0.3)!important;
       border: 1px solid #04C2DF!important;
       color: #fff!important;
     }
     .choose .el-select .el-input .el-select__caret{
       color: #03EFFA!important
     }
     /* 导航 */
     .index_nav_1{
       position: fixed;
       height: 584px;
       top:50%;
       margin-top: -292px;
       left: 0;
       width: 18px;
       background: rgba(4, 31, 78, 0.79);
       padding:0 14px;
       border-radius: 0 8px 8px 0;
       border: 1px solid #133358;
       font-size: 14px;
       display: flex;
       flex-direction: column;
       /* justify-content: flex-start; */
       /* justify-content: space-between; */
     }
     .index_nav{
       position: fixed;
       left: 48px;
       top:50%;
       margin-top: -292px;
       min-height: 584px;
       box-sizing: border-box;
       display: flex;
     }
     .index_nav2{
       background: rgba(6, 44, 83, 0.81);
       width: 120px;
       height: 584px;
       color: #8aacd1;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 30px 0px;
       box-sizing: border-box;font-size: 16px;
     }
     /* 排队叫号 */
     /* .t-screen .content-foot{
       margin-top:-35px;
       width:100%;
     } */
     .t-screen .foot-title{
       display: flex;
       white-space:nowrap;
       width: 100%;
       justify-content: space-between;
       height: 37px;
     }
     .img-tl{
       width: 25%;
       height: 30px;
     }
     
     .img-tr{

     }
     .img-people{
       width: 13%;
       height: 65px;
     }
     .pdjh-content{
       display: flex;
       justify-content: start;
       margin-top: 20px;
       width: 100%;
     }
     .pdjh-ul li{
       display: flex;
       float: left;
       flex-direction:column;
       color: #fff;
       padding: 0 4px;
       font-size: 12px;
     }
  .t-screen .main{margin: -10px 48px 0px 48px;}
  .t-screen .gradient-text-one{
      background-image:-webkit-linear-gradient(bottom,#09F3FD,#7BFBFF,#B2FDFE);
      -webkit-background-clip:text;
      -webkit-text-fill-color:transparent;
  }
  .t-screen .title{ text-align: center; line-height: 30px; font-size: 14px;font-weight: bold;color: #05CEDD}
  /* .t-screen .bgline1{background: url('../../assets/img/sg/frame_1.png') no-repeat;background-size: 100% 100%;margin-top: 14px} */
  /* .t-screen .bgline11{background: url('../../assets/img/sg/frame_11.png') no-repeat;background-size: 100% 100%;margin-top: 14px} */
  /* .t-screen .bgline2{background: url('../../assets/img/sg/frame_2.png') no-repeat;background-size: 100% 100%;margin-top: 14px} */
  /* .t-screen .bgline21{background: url('../../assets/img/sg/frame_21.png') no-repeat;background-size: 100% 100%;margin-top: 14px} */
  /* .t-screen .tb1{background: url('../../assets/img/sg/tb1.png') no-repeat; background-position: 100% 26%;
    background-size: 110%;height: 100%; font-size: 14px; font-weight: bold;line-height: 18px;position: relative;} */
  /* .t-screen .tb1 .huan-li{font-size: 14px; font-weight: bold;line-height: 18px;} */
  .t-screen .color1{color: #079BE0}
  .t-screen .color2{color: #3DDAE8}
  .t-screen .color3{color: #FBC556}
  .t-screen .color4{color: #FB8291}
  .t-screen .color5{color: #94C5DF}
  .t-screen .cred{color: #C36F9E}

  /* .t-screen .content{ height: 685px; margin-top: 20px; text-align: center;} */
  .t-screen .lineup{margin-top:-35px; width:100%;background: url('../../assets/img/sg/pdjh.png') left no-repeat; height: 35px;text-align: right;}
  .t-screen .pdjh{margin-top:10px;color: #ffffff;background: url('../../assets/img/sg/pdjhtb.png') left no-repeat; height: 70px;padding-left: 120px; font-weight: bold; padding-top: 10px;font-size: 14px;}
  .t-screen .sz{background: url('../../assets/img/sg/sz.png') center no-repeat; font-size: 16px;text-align: center;color: #ffffff;}
  .t-screen .mt4{margin-top: 8px;}
  .t-screen .ml4{margin-left: 4px;}
  .t-screen .ci{margin-left: 6px;font-size: 12px;}

  .center-map{
    padding: 20px 50px!important;
  }
  .gjTs{
    margin-left: 40px;
  }
  .gjcz{
    margin-left: 10px;
  }
}
@media only screen and (min-width: 1700px){
  .content .map-img{
    width: 48%;
    margin-left: -28%;
    margin-top: -1%;
  }
  .content .zuobiao{
    width: 50%;
    height: 100%;
    position: absolute;
    top: -3%;left:24%;
  }
  /* 常用报表 */
  .arrow_content {
      width: 780px; height: 400px;border:1px solid #2e9de7; border-radius: 2px; position: absolute;
      right: 2%;
      top: 80%;
      background-color: rgba(7,38,99,0.8);
      z-index: 9;
      box-shadow:-4px -4px 10px #06B4FB;
  }
  .arrow_box {
      position:relative;
      width: 10px;
      height: 10px;
      top:-10px;
      left: 720px;
  }
  .arrow {
      position:absolute;
      width: 0px;
      height: 0px;
      line-height: 0px;/*为了防止ie下出现题型*/
      border-bottom: 10px solid #2e9de7;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      left: 0px;
      top: 0px;
      z-index: 1;
  }
  .arrow_up {
      position:absolute;
      width: 0px;
      height: 0px;
      line-height: 0px;/*为了防止ie下出现题型*/
      border-bottom: 10px solid rgba(7,67,124,0.9);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      left: 0px;
      top: 2px;
      z-index: 2;
  }
  .buttonMenu{
    width: 96%;
    margin: 0px auto;
    height: 300px;
    overflow: auto
  }
  .tt-mr10{
    margin-right: 10px!important
  }
  .t-screen .banner{
    padding-top: 90px;
    background: url('../../assets/img/sg/logo.png') no-repeat;
    background-size: 100%;
    position: relative;
  }
  .common-report{
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #03579D;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 12px;
    box-shadow:0 0 10px #2b6dd6 inset;
  }
  .common-report:hover{
    box-shadow:0 0 15px #2b6dd6 inset;
  }
  .t-screen .time{
    text-align: center;
    color: #FFFFFF;
    margin-top: -20px;
    font-size: 24px;
  }
  .center-map{
    padding: 25px 62px!important;
  }
  .huan-font{
    font-size: 14px;
  }
  /* 中间头部 */
  .content-head{
    display: flex;
    white-space:nowrap;
    margin-top: 10px;
    border-bottom: 1px solid #0BA9D8;
    height: 50px;
  }
  .show-yj{
    max-height: 35px;
    overflow: hidden;
  }
  .center-map .show-yj li{
    float:left;
    width:33%;
    color: #90FFFF;
    font-size: 14px;
    padding: 0px 0px 4px 0px;
  }
  .tt-pad{
    padding: 0 3px;
  }
  .center-map .t-yjts{
    /* width: 30% */
  }
  /* 两边格子 */
  .tabLeft{
    text-align: center;
  }
  .tabRight{
    text-align: center;
  }
  .tabTitle{
    color: #fff;
    font-size: 14px;
  }
  .tabContent{
    width: 100%;
    max-height: 100px;
    overflow: hidden;
  }
  .tabC-li{
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
  }
  .color-dan{
    background-color: #2255B0;
  }
  .color-shu{
    background-color: #23315E;
  }
  .tabC-sl{
    color: #fff;
    font-size: 12px;
    float: left;
  }
  .tabC-sr{
    color: #fff;
    font-size: 12px;
    float: right;
  }
  .zdgj{
    padding: 20px 20px 0px;
  }
  .anim{
    transition: all 1s linear;
    margin-top: -25px;
   }
   /* .tu1{height:296px}
   .tu1-1{height: 280px}
   .tu2{height:296px}
   .tu3{height:255px}
   .tu4{height:296px}
   .tu4-4{height:280px}
   .tu5{height:296px}
   .tu5-5{height:280px}
   .tu6{height:255px}
   .tu6-6{height:250px} */
   .tooltipm{
     width: 100px;
     position: absolute;
     border: 1px solid #03579D;
     padding: 5px;
     box-sizing: border-box;
     border-radius: 5px;
     height: 76px;
     background-color: rgba(9,41,95,0.8);
     box-shadow: -4px -4px 10px #06B4FB;
   }
   .map .lzrq{
     text-align: left;
     width: 30%;
     display: inline-block;
     float: left;
   }
   .fun-choose{
     width: 100%;
     height: 30px;
     border: 1px solid #02C8E8;
     /* border-bottom: none!important; */
     border-radius: 5px;
     margin-bottom: 10px
   }
   .fun-choose .tab-fun{
     font-size: 14px;
     color: #02C8E8;
     width: 48%;
     height: 30px;
     line-height: 30px;
     text-align: center;
     display: inline-block;
     box-sizing: border-box;
   }
   .fun-choose .tab-fun:hover{
     /* font-size: 14px; */
     color: #fff;
     /* width: 49%;
     height: 30px;
     line-height: 30px;
     text-align: center;
     display: inline-block;
     box-sizing: border-box; */
   }
   .choose{display: flex;justify-content: space-between;}
   .choose .el-select{width: 32%}

   .choose .el-input__inner{
     background-color: rgba(9,162,201, 0.3)!important;
     border: 1px solid #04C2DF!important;
     color: #fff!important;
     padding: 0 5px
   }
   .choose .el-input--suffix .el-input__inner{
     padding-right: 25px;
   }
   .choose .el-select .el-input .el-select__caret{
     color: #03EFFA!important
   }
   .liuhe{
     top: -1%;
     right: 38%;
   }
   .jiangbei{
     top:14%;
     right: 48%;
   }
   .qixia{
     top: 16.5%;
     right: 42.5%;
   }
   .xuanwu{
     top: 19.5%;
     right: 38%;
   }
   .gulou{
     top: 23%;
     right: 44%;
   }
   .qinhuai{
     top:26%;
     right: 40%;
   }
   .jianye{
     top:29%;
     right: 46%;
   }
   .yuhua{
     top: 35%;
     right: 50.5%;
   }
   .pukou{
     top: 27%;
     left: 28%;
   }
   .lishui{
     top: 57%;
     right:27%;
   }
   .jiangning{
     top: 40%;
     right:42%;
   }
   .gaochun{
     top: 75%;
     right:34%;
   }
   /* 导航 */
   .index_nav_1{
     position: fixed;
     height: 584px;
     top:50%;
     margin-top: -292px;
     left: 0;
     width: 18px;
     background: rgba(4, 31, 78, 0.79);
     padding:0 14px;
     border-radius: 0 8px 8px 0;
     border: 1px solid #133358;
     font-size: 14px;
     display: flex;
     flex-direction: column;
   }
   .index_nav{
     position: fixed;
     left: 48px;
     top:50%;
     margin-top: -292px;
     min-height: 584px;
     box-sizing: border-box;
     display: flex;
   }
   .index_nav2{
     background: rgba(6, 44, 83, 0.81);
     width: 120px;
     height: 584px;
     color: #8aacd1;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 30px 0px;
     box-sizing: border-box;font-size: 16px;
   }
   /* 排队叫号 */
   /* .t-screen .content-foot{
     margin-top:-35px;
     width:100%;
   } */
   .t-screen .foot-title{
     display: flex;
     white-space:nowrap;
     width: 100%;
     justify-content: space-between;
     height: 37px;
   }
   .img-tl{

   }
   .img-tr{

   }
   .img-people{
     width: 13%;
     height: 60px;
   }
   .pdjh-content{
     display: flex;
     justify-content: start;
     margin-top: 20px;
     width: 100%;
   }
   .pdjh-ul li{
     display: flex;
     float: left;
     flex-direction:column;
     color: #fff;
     padding: 0 4px;
     font-size: 12px;
   }
  .t-screen .main{margin: -10px 48px 0px 48px;}
  .t-screen .gradient-text-one{
      background-image:-webkit-linear-gradient(bottom,#09F3FD,#7BFBFF,#B2FDFE);
      -webkit-background-clip:text;
      -webkit-text-fill-color:transparent;
  }
  .t-screen .title{ text-align: center; line-height: 30px; font-size: 16px;font-weight: bold;color: #05CEDD}
  /* .t-screen .bgline1{background: url('../../assets/img/sg/frame_1.png') no-repeat;background-size: 100% auto;margin-top: 14px} */
  /* .t-screen .bgline11{background: url('../../assets/img/sg/frame_11.png') no-repeat;background-size: 100% auto;margin-top: 14px} */
  /* .t-screen .bgline2{background: url('../../assets/img/sg/frame_2.png') no-repeat;background-size: 100% auto;margin-top: 14px} */
  /* .t-screen .bgline21{background: url('../../assets/img/sg/frame_21.png') no-repeat;background-size: 100% auto;margin-top: 14px} */
  /* .t-screen .tb1{background: url('../../assets/img/sg/tb1.png') no-repeat; background-position: 100% 26%;
    background-size: 100%;height: 100%; font-size: 14px; font-weight: bold;line-height: 18px;position: relative;}
  .t-screen .tb1 .huan{ position: absolute;left: 50%;top: 12%;} */
  /* .t-screen .tb1 .huan-li{font-size: 14px; font-weight: bold;line-height: 18px;} */
  .t-screen .color1{color: #079BE0}
  .t-screen .color2{color: #3DDAE8}
  .t-screen .color3{color: #FBC556}
  .t-screen .color4{color: #FB8291}
  .t-screen .color5{color: #94C5DF}
  .t-screen .cred{color: #C36F9E}
  /* .t-screen .content{ height: 685px; margin-top: 20px; text-align: center;} */
  .t-screen .sz{background: url('../../assets/img/sg/sz.png') center no-repeat; font-size: 16px;text-align: center;color: #ffffff;}
  .t-screen .mt4{margin-top: 8px;margin-bottom: 5px}
  .t-screen .ml4{margin-left: 4px;}
  .t-screen .ci{margin-left: 6px;font-size: 12px;}
  .gjTs{
    margin-left: 40px;
  }
  .gjcz{
    margin-left: 10px;
  }
}
@media only screen and (max-width: 1550px){
  .content .map-img{
    width: 46%;
    margin-left: -28%;
    margin-top: -1%;
  }
  .content .zuobiao{
    width: 46%;
    height: 100%;
    position: absolute;
    top: -4%;left:26%;
  }
  /* 常用报表 */
  .arrow_content {
      width: 670px; height: 384px;border:1px solid #2e9de7; border-radius: 2px; position: absolute;
      right: 2%;
      top: 100%;
      background-color: rgba(7,38,99,0.8);
      z-index: 9;
      box-shadow:-4px -4px 10px #06B4FB;
  }
  .arrow_box {
      position:relative;
      width: 10px;
      height: 10px;
      top:-6px;
      left: 611px;
  }
  .arrow {
      position:absolute;
      width: 0px;
      height: 0px;
      line-height: 0px;/*为了防止ie下出现题型*/
      border-bottom: 10px solid #2e9de7;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      left: -11px;
      top: -6px;
      z-index: 1;
  }
  .arrow_up {
      position:absolute;
      width: 0px;
      height: 0px;
      line-height: 0px;/*为了防止ie下出现题型*/
      border-bottom: 10px solid rgba(7,67,124,0.9);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      left: -10px;
      top: -4px;
      z-index: 2;
  }
  .buttonMenu{
    width: 96%;
    margin: 0px auto;
    height: 300px;
    overflow: auto
  }
  .tt-mr10{
    margin-right: 5px!important
  }
  .t-screen .banner{padding-top: 73px;background: url('../../assets/img/sg/logo.png') no-repeat;background-size: 100%;position: relative;}
  .t-screen .time{text-align: center;color: #FFFFFF;margin-top: -20px;font-size: 16px;}
  .huan-font{
    font-size: 12px;
  }
  .common-report{
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #03579D;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 12px;
    box-shadow:0 0 10px #2b6dd6 inset;
  }
  /* 中间头部 */
  .content-head{
    display: flex;
    white-space:nowrap;
    margin-top: 15px;
    border-bottom: 1px solid #0BA9D8;
  }
  .content-head ul li{
    float:left;
    width:45%;
    /* list-style:disc; */
    color: #90FFFF;
    font-size: 12px;
    padding: 0px 0px 4px 0px;
  }
  .center-map .t-yjts{
    width: 23%
  }
  .show-yj{
    max-height: 33px;
    overflow: hidden;
  }
    .tabLeft{
      text-align: center;
    }
    .tabRight{
      text-align: center;
    }
    .tabTitle{
      color: #fff;
      font-size: 12px;
    }
    .tabContent{
      width: 100%;
      max-height: 100px;
      overflow: hidden;
    }
    .tabC-li{
      height: 25px;
      line-height: 25px;
      padding: 0 10px;
    }
    .color-dan{
      background-color: #2255B0;
    }
    .color-shu{
      background-color: #23315E;
    }
    .tabC-sl{
      color: #fff;
      font-size: 12px;
      float: left;
    }
    .tabC-sr{
      color: #fff;
      font-size: 12px;
      float: right;
    }
    .zdgj{
      padding: 10px 20px 0px;
    }
    .anim{
      transition: all 1s linear;
      margin-top: -25px;
     }
     /* .tu1{height:210px} */
     /* .tu1-1{height: 200px} */
     /* .tu2{height:210px} */
     /* .tu3{height:200px} */
     /* .tu4{height:210px} */
     /* .tu4-4{height:210px} */
     /* .tu5{height:210px} */
     /* .tu5-5{height:210px} */
     /* .tu6{height:200px} */
     /* .tu6-6{height:205px} */
     /* 中间地图 */
     /* .content .map{
       background: url('../../assets/img/sg/map2.png') no-repeat;
       height: 490px;
       background-size: 50% 100%;
       background-position: center;
       position: relative;
     }
     .content .zuobiao{
       width: 377px;
       height: 490px;
       position: absolute;
       top: -4.5%;left:18%;
     } */
     .tooltipm{
       width: 100px;
       position: absolute;
       border: 1px solid #03579D;
       box-sizing: border-box;
       border-radius: 5px;
       height: 76px;
       background-color: rgba(9,41,95,0.8);
       box-shadow: -4px -4px 10px #06B4FB;
     }
     .map .lzrq{
       text-align: left;
       width: 30%;
       display: inline-block;
       float: left;
     }
     .fun-choose{
       width: 100%;
       height: 26px;
       border: 1px solid #02C8E8;
       /* border-bottom: none!important; */
       border-radius: 5px;
       margin-bottom: 10px
     }
     .fun-choose .tab-fun{
       font-size: 12px;
       color: #02C8E8;
       width: 48%;
       height: 26px;
       line-height: 26px;
       text-align: center;
       display: inline-block;
       box-sizing: border-box;
     }
     .fun-choose .tab-fun:hover{
       /* font-size: 12px; */
       color: #fff;
       /* width: 48%;
       height: 26px;
       line-height: 26px;
       text-align: center;
       display: inline-block;
       box-sizing: border-box; */
     }
     .choose{display: flex;justify-content: space-between;}
     .choose .el-select{width: 31%}
     .choose .el-input__inner{
       background-color: rgba(9,162,201, 0.3)!important;
       border: 1px solid #04C2DF!important;
       color: #fff!important;
       padding: 0 4px!important;
     }
     .choose .el-select .el-input .el-select__caret{
       color: #03EFFA!important
     }
     .choose .el-input--small .el-input__inner{
       height: 28px!important;
       line-height: 28px!important;
     }
     .choose .el-input__prefix, .el-input__suffix{
       top: 0px!important;
       right: 0px!important;
     }
     .choose .el-input--suffix .el-input__inner{
       padding-right: 17px!important;
       font-size: 12px!important;
     }
     .liuhe{
       top: 11%;
       right: 20%;
     }
     .jiangbei{
       top:20%;
       right: 57%;
     }
     .qixia{
       top:16%;
       right: 26%;
     }
     .xuanwu{
       top:27%;
       right: 22%;
     }
     .gulou{
       top:26%;
       right: 56%;
     }
     .qinhuai{
       top:37%;
       right: 25%;
     }
     .jianye{
       top:43%;
       right: 29%;
     }
     .yuhua{
       top:48%;
       right: 61%;
     }
     .pukou{
       top: 35%;
       left: 14%;
     }
     .lishui{
       top: 65%;
       right:10%;
     }
     .jiangning{
       top: 48%;
       right:24%;
     }
     .gaochun{
       top: 70%;
       right:37%;
     }
     /* 导航 */
     .index_nav_1{
       position: fixed;
       height: 555px;
       top:50%;
       margin-top: -292px;
       left: 0;
       width: 18px;
       background: rgba(4, 31, 78, 0.79);
       padding:0 14px;
       border-radius: 0 8px 8px 0;
       border: 1px solid #133358;
       font-size: 14px;
       display: flex;
       flex-direction: column;
     }
     .index_nav{
       position: fixed;
       left: 48px;
       top:50%;
       margin-top: -292px;
       min-height: 555px;
       box-sizing: border-box;
       display: flex;
     }
     .index_nav2{
       background: rgba(6, 44, 83, 0.81);
       width: 120px;
       height: 555px;
       color: #8aacd1;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 30px 0px;
       box-sizing: border-box;font-size: 16px;
     }
     /* 排队叫号 */
     /* .t-screen .content-foot{
       margin-top:-35px;
       width:100%;
     } */
     .t-screen .foot-title{
       display: flex;
       white-space:nowrap;
       width: 100%;
       justify-content: space-between;
       height: 37px;
     }
     .img-tl{
       width: 25%;
       height: 30px;
     }
     .img-tr{
       width: 30%;
       height: 30px;
     }
     .img-people{
       width: 13%;
       height: 58px;
     }
     .pdjh-content{
       display: flex;
       justify-content: start;
       margin-top: 10px;
       width: 100%;
     }
     .pdjh-ul li{
       display: flex;
       float: left;
       flex-direction:column;
       color: #fff;
       padding: 0 4px;
       font-size: 12px;
     }
  .t-screen .main{margin: -10px 48px 0px 48px;}
  .t-screen .gradient-text-one{
      background-image:-webkit-linear-gradient(bottom,#09F3FD,#7BFBFF,#B2FDFE);
      -webkit-background-clip:text;
      -webkit-text-fill-color:transparent;
  }
  .t-screen .title{ text-align: center; line-height: 25px; font-size: 12px;font-weight: bold;color: #05CEDD}
  /* .t-screen .bgline1{background: url('../../assets/img/sg/frame_1.png') no-repeat;background-size: 100% 100%;margin-top: 10px} */
  /* .t-screen .bgline11{background: url('../../assets/img/sg/frame_11.png') no-repeat;background-size: 100% 100%;margin-top: 10px} */
  /* .t-screen .bgline2{background: url('../../assets/img/sg/frame_2.png') no-repeat;background-size: 100% 100%;margin-top: 10px} */
  /* .t-screen .bgline21{background: url('../../assets/img/sg/frame_21.png') no-repeat;background-size: 100% 100%;margin-top: 10px} */
  /* .t-screen .tb1{background: url('../../assets/img/sg/tb1.png') no-repeat;background-position-x: -22px;
    background-size: 100%;height: 100%; font-size: 12px; font-weight: bold;line-height: 16px;position: relative;}
  .t-screen .tb1 .huan{ position: absolute;left: 45%;top: 4%;} */
  /* .t-screen .tb1 .huan-li{font-size: 12px; font-weight: bold;line-height: 16px;} */
  .t-screen .color1{color: #079BE0}
  .t-screen .color2{color: #3DDAE8}
  .t-screen .color3{color: #FBC556}
  .t-screen .color4{color: #FB8291}
  .t-screen .color5{color: #94C5DF}
  .t-screen .cred{color: #C36F9E}
  .t-screen .sz{background: url('../../assets/img/sg/sz.png') center no-repeat; font-size: 16px;text-align: center;color: #ffffff;}
  .t-screen .mt4{margin-top: 8px;;margin-bottom: 5px}
  .t-screen .ml4{margin-left: 4px;}
  .t-screen .ci{margin-left: 6px;font-size: 12px;}
  /* .t-screen .content{margin-top: 10px} */
  .center-map{
    padding: 10px 30px!important;
  }
  .gjTs{
    margin-left: 1px;
  }
  .gjcz{
    margin-left: 1px;
  }
}
.t-screen{width: 100%;font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
background: url('../../assets/img/sg/bg.jpg') no-repeat;
background-size: 100%  auto;}
.t-screen .content{ height:100%; margin-top: 20px; text-align: center;}
/* 中间地图 */
.content .map{
  /* background: url('../../assets/img/sg/map2.png') no-repeat;
  height: 100%;
  background-size: 50%;
  background-position: center top; */
  /* width: 100%; */
}
.content .map-all{
  height: 100%;
  position: relative;
  border: 1px solid transparent;
}


.bgline1{
  position: relative;
  width: 100%;
}
.bgline1 .img1{
  width: 100%;
}
.tb1{
  position: absolute;
  top: 10%;
  left: -3%;
}
.tb1 .cz-img{
  width: 95%;
}
.huan{
  position: absolute;
  left: 49%;
  top: 10%;
}
.bgline1 .title{
  position: absolute;
  top: 0%;
  left: 36%;
}
.chart1{
  position: absolute;
  top: 8%;
  left: 0%;
}

.bgline2{
  position: relative;
  width: 100%;
}
.bgline2 .img4{
  width: 100%;
}
.bgline2 .title{
  position: absolute;
  top: 0%;
  left: 36%;
}
.chart4{
  position: absolute;
  top: 10%;
  left: 0%;
}

.bgline21{
  position: relative;
  width: 100%;
}
.bgline21 .img4{
  width: 100%;
}
.bgline21 .title{
  position: absolute;
  top: 0%;
  left: 31%;
}

.bgline11{
  position: relative;
  width: 100%;
}
.bgline11 .zdgj{
  width: 100%;
  position: absolute;
  top: 10%;
}
.bgline11 .img4{
  width: 100%;
}
.bgline11 .title{
  position: absolute;
  top: 0%;
  left: 39%;
}
.tu-mt{
    margin-top: 2%;
}

.t-screen .content-foot{
  margin-top:-50px;
  width:100%;
}
.checktab{
  box-shadow:0 0 20px #0C63A4 inset;
  color: #fff!important;
}
